body {
  background: #2C3E50;
}

.infoLabel {
  font-size: 110%;
  display: inline-block;
  width: 130px;
}

.account-info {
  display: inline-block;
  width: 150px;
}

.table-responsive {
  max-height: 400px;
}

.verde {
  color: green;
}

.rosu {
  color: red;
}
